/* Estilos gerais para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Para usar o sticky footer */
    min-height: 100vh; /* Preenche a altura da viewport */
    background-image:url("../images/back.jpg");
    background-size: cover; /* Redimensiona a imagem para cobrir todo o corpo */
    background-position: center center; /* Centraliza a imagem vertical e horizontalmente */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 125px;
    box-sizing: border-box;
}

/* Estilos para o conteúdo principal */
.content {
    flex: 1; /* Cresce para preencher o espaço disponível */
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

h1 {
    color: #007bff;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.instruction-link {
    color: #007bff; /* Cor do link */
    text-decoration: none; /* Remova a sublinhado padrão */
    font-weight: bold; /* Torne o texto em negrito */
    transition: color 0.3s ease; /* Efeito de transição de cor suave */
}

.instruction-link:hover {
    color: #0056b3; /* Cor diferente ao passar o mouse sobre o link */
}


/* Estilos para o botão */
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para o rodapé */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para os links no rodapé */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 667px ){
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 115px;
        box-sizing: border-box;
    }
    
    /* Estilos para o conteúdo principal */
    .content {
        flex: 1; /* Cresce para preencher o espaço disponível */
        max-width: 800px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    h1 {
        color: #007bff;
        font-size: 20px;
        margin-bottom: 10px;
        font-family: Arial, sans-serif;
    }
    
    p {
        color: #666;
        font-size: 14px;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }
    
    .instruction-link {
        color: #007bff; /* Cor do link */
        text-decoration: none; /* Remova a sublinhado padrão */
        font-weight: bold; /* Torne o texto em negrito */
        transition: color 0.3s ease; /* Efeito de transição de cor suave */
    }
    
    .instruction-link:hover {
        color: #0056b3; /* Cor diferente ao passar o mouse sobre o link */
    }
    
    
    /* Estilos para o botão */
    .button {
        display: inline-block;
        margin-top: 20px;
        padding: 6px 10px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        font-size: 15px;
    }
    
    .button:hover {
        background-color: #0056b3;
    }
    
    /* Estilos para o rodapé */
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        font-family: Arial, sans-serif;
        text-align: center;
    }
    
    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    /* Estilos para os links no rodapé */
    .footer-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-links li {
        margin-right: 20px;
    }
    
    .footer-links a {
        color: #fff;
        text-decoration: none;
    }
}