/* Estilos gerais para a página de instruções */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Corrigido para fundo preto */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/back.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

span {
    color: #eba42d;
}




.animal-images {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.animal-image {
    width: 20%;
    margin-bottom: 10px;
    margin-right: 2%;
    text-align: center;
}

.animal-image:last-child {
    margin-right: 0;
}

.animal-image img {
    max-width: 100%;
    height: auto;
}

.animal-button {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 10px !important;
    cursor: pointer;
}

.animal-button:hover {
    background-color: #0056b3;
}

/* Estilos para o botão */
.return-button {
    display: inline-block;
    padding: 8px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 12px;
    border: none;
    cursor: pointer;
}



.return-button:hover {
    background-color: #0056b3;
}

/* Estilos para telas menores (modo retrato) */
@media (max-width: 768px) {
    .container {        
        padding: 78.03px;
        margin-top: 108px;

    }

    .footer-container{
        padding: 5px ;
        max-width: 970px ;
        margin: 0 auto; /* Centraliza o container na tela */
    }
    

    .text-font, h1{  
        color: #007bff ;
        font-size: 20px ;
        margin-bottom: 0px;   
        font-family: 'Comic Sans MS', cursive ;
    }

    .text-font, p {
        color: #666;
        font-size: 14px;
        margin-bottom: 0px;
        font-family: 'Comic Sans MS', cursive !important
    }

    .footer {
        background-color: #333;
        color: #fff;
        
        margin-top: 174px !important;
    }

    /* Estilos para o link de download à direita */
    .footer-content a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
        font-size: 12px !important;
       
    }

    .footer-content a:hover {
        color: #007bff;
    }

    .instruction-link {
        color: #007bff; /* Cor do link */
        text-decoration: none; /* Remova a sublinhado padrão */
        font-weight: bold; /* Torne o texto em negrito */
        transition: color 0.3s ease; /* Efeito de transição de cor suave */
    }
    
    .instruction-link:hover {
        color: #0056b3; /* Cor diferente ao passar o mouse sobre o link */
    }
    
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .button:hover {
        background-color: #0056b3;
    }

    .copy{
        color: #fff !important;
        font-family: Arial, Helvetica, sans-serif;
    }

}


/* Estilos para telas menores (modo retrato) */
@media (min-width: 844px) or (max-height: 390px)  {
    .container {
        max-width: 610px ;
        margin: 0 auto;
        padding: 111px ;
        box-sizing: border-box;
        margin-top: -70px;
        padding: 78px ;
       
        margin: 0 auto; /* Centraliza o container na tela */
    }

    .footer-container{
        padding: 5px ;
        max-width: 970px ;
        margin: 0 auto; /* Centraliza o container na tela */
    }
    

    .text-font, h1{  
        color: #007bff ;
        font-size: 20px ;
        margin-bottom: 0px;   
        font-family: 'Comic Sans MS', cursive ;
    }

    .copy{
        color: #fff !important;
        font-family: Arial, Helvetica, sans-serif;
    }


    .text-font, p {
        color: #666;
        font-size: 14px;
        margin-bottom: 0px;
        font-family: 'Comic Sans MS', cursive;
    }

    .footer {
        background-color: #333;
        color: #fff;
        
        margin-top: 13px !important;
    }

    /* Estilos para o link de download à direita */
    .footer-content a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
        font-size: 12px !important;
       
    }

    .footer-content a:hover {
        color: #007bff;
    }

    .instruction-link {
        color: #007bff; /* Cor do link */
        text-decoration: none; /* Remova a sublinhado padrão */
        font-weight: bold; /* Torne o texto em negrito */
        transition: color 0.3s ease; /* Efeito de transição de cor suave */
    }
    
    .instruction-link:hover {
        color: #0056b3; /* Cor diferente ao passar o mouse sobre o link */
    }
    
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .button:hover {
        background-color: #0056b3;
    }
}

@media (min-width: 1004px) {

    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        line-height: 1.6; /* Ajuste o espaçamento entre linhas conforme necessário */
    }

    .copy{
        color: #fff !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }


    .container {
        max-width: 690px !important;
        margin: 0 auto;
        padding: 111px ;
        box-sizing: border-box;
        margin-top: -70px;
        padding: 158px ;
        margin: 0 auto; /* Centraliza o container na tela */
    }
  
    .text-font, h1{  
        color: #007bff !important;
        font-size: 20px ;
        margin-bottom: 0px;   
        font-family: 'Comic Sans MS', cursive !important;
    }

    .text-font, p {
    color: #666;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: 'Comic Sans MS', cursive !important
}

.footer-container{
    padding: 5px ;
   
    max-width: 970px ;
    margin: 0 auto; /* Centraliza o container na tela */
}

.footer-text{
    text-align: center;
   
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-text p {
    margin: 0;
    text-align: center; /* Centraliza o texto no meio */
}

.link{
    display: flex;
    justify-content: space-around;
}
/* Estilos para o link de download à direita */
.footer-content a {
    color: #fff;
   display: flex;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 13px ;
}

.footer-content a:hover {
    color: #007bff;
}


.instruction-link {
    color: #007bff; /* Cor do link */
    text-decoration: none; /* Remova a sublinhado padrão */
    font-weight: bold; /* Torne o texto em negrito */
    transition: color 0.3s ease; /* Efeito de transição de cor suave */
}

.instruction-link:hover {
    color: #0056b3; /* Cor diferente ao passar o mouse sobre o link */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

}
