/* Estilos gerais para a página de instruções */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/back.jpg");
    min-height: 100vh;
    background-size: cover; /* Redimensiona a imagem para cobrir todo o corpo */
    background-position: center center; /* Centraliza a imagem vertical e horizontalmente */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 71px;
    box-sizing: border-box;
}

h1 {
    color: #007bff;
    font-size: 26px;
    margin-bottom: 5px;
}

p {
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

.animal-images {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.animal-image {
    width: 38%; /* Define a largura desejada para cada imagem (48% para duas imagens lado a lado) */
    margin-bottom: 10px;
    margin-right: 2%; /* Espaço horizontal entre as imagens */
    text-align: center; /* Centraliza o conteúdo dentro do contêiner */
}

.animal-image:last-child {
    margin-right: 0; /* Remove a margem direita da última imagem */
}

.animal-image img {
    max-width: 100%; /* Define a largura máxima para as imagens */
    height: auto; /* Mantém a proporção original das imagens */
}

.animal-button {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 15px;
    cursor: pointer;
}

.animal-button:hover {
    background-color: #0056b3;
}

/* Estilos para o botão */
.return-button {
    display: inline-block;
    padding: 8px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.return-button:hover {
    background-color: #0056b3;
}

/* Estilos para o rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Consulta de mídia para celular em modo paisagem (landscape)  deitado */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding: 10px;
        margin-top: 4%;
    }

    h1 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
   
    .animal-images {
        margin-bottom: 20px;
    }

    .animal-image {
        width: 20% !important;
        margin-bottom: 0px;
        margin-top: 1%;
        margin-right: 2%;
    }

    .animal-button {
        padding: 5px 5px;
        font-size: 10px;
    }

    /* Estilos para o botão */
.return-button {
    display: inline-block;
    margin-top: -1%;
    padding: 4px 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

     /* Estilos para o rodapé */
     .footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        margin-top: 41%;
        position: fixed;
        width: 100%;
        height: 9%;
    }
    
    .links{
        display: flex;
    }
    
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    
    /* Estilos para o texto central */
    .footer-content p {
        font-size: 10px;
     
    }
    
    /* Estilos para os links à esquerda */
    .social-links {
        flex: 1; /* Ocupa todo o espaço disponível à esquerda */
        font-size: 14px;
        display: flex;
        justify-content: space-around;
    }
    
    .social-links a {
        color: #fff;
        text-decoration: none;
        margin-top: 10px !important;
        margin-left: -1220px !important;
    }
    
    .footer-text{
        height: 2.7rem;
      margin-left: 220px;
        border-top: 1px solid var(--text);
        display: flex;
        text-align: justify;
        align-items: center;
    }
    
    span{
        color: #eba42d;
        font-size: 10px;
        margin-top: -3px;
    }
    
    /* Estilos para o link de download à direita */
    .footer-content a {
        flex: 1; /* Ocupa todo o espaço disponível à direita */
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 10px;
        margin-top: -10px;
        transition: color 0.3s ease;
        margin-left: 50px !important;
    }
    
    .footer-content a:hover {
        color: #007bff;
    }
}

/* Estilos para dispositivos móveis  em pé*/
@media screen and (max-width: 740px) {
    
    /* Estilos para o rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 190%;
    position: fixed;
    width: 100%;
    height: 7%;
}

.links{
    display: flex;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

/* Estilos para o texto central */
.footer-content p {
    font-size: 10px;
 
}

/* Estilos para os links à esquerda */
.social-links {
    flex: 1; /* Ocupa todo o espaço disponível à esquerda */
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px !important;
    align-items: flex-start;

}

.footer-text{
    height: 2.7rem;
  
    border-top: 1px solid var(--text);
    display: flex;
    text-align: justify;
    align-items: center;
}

span{
    color: #eba42d;
    font-size: 10px;
    margin-top: -3px;
}

/* Estilos para o link de download à direita */
.footer-content a {
    flex: 1; /* Ocupa todo o espaço disponível à direita */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: color 0.3s ease;
    text-align: right;
    margin-left: 50px !important;
}

.footer-content a:hover {
    color: #007bff;
}

    .container {
        max-width: 800px;
        margin: 0 auto;
        /* padding: 25px; */
        box-sizing: border-box;
        /* padding: 20px; */
        margin-top: 30%;
    }

    h1 {
        font-size: 22px;
        height: auto;
        margin-bottom: 5px;
    }

    p {
        font-size: 12px;
    }

    .animal-images {
        margin-bottom: 25px;
    }

    .animal-image {
        width: 48%;
        margin-bottom: 20px;
        margin-right: 2%;
    }

    .animal-button {
        padding: 5px 5px;
        font-size: 13px;
    }
}
