/* estilos.css */
.butto {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 5%;
}

#botao-crocodilo{
    display: none;
    background-image:url("../images/Croc.jpg");
    background-image: 30px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 190px; 
    margin-left: -14%;
    margin-top: 2%;
    width: 12em !important; 
    height: 6em;
}

#botao-cobra{
    display: none;
    background-image:url("../images/Snake.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 130px; 
    margin-left: -14%;
    margin-top: 2%;
    width: 10em !important; 
    height: 7.5em;
    
}

#botao-golfi{
    display: none;
    background-image:url("../images/Golfin.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 190px; 
    margin-left: -14%;
    margin-top: 2%;
    width: 14em !important; 
    height: 9.5em;
    border-radius: 9px;
}

#botao-panter{
    display: none;
    background-image:url("../images/panter.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 190px; 
    margin-left: -14%;
    margin-top: 2%;
    height: 8.5em;
}

.botao {
    position: absolute;
    top: 20px;
    display: none;
    padding: 0.45em;
    border-radius: 5px;
    border: none;
    width: 15em;
    height: 7em;
    cursor: pointer;
}


.doubt{
    position: absolute;
    background-image:url("../images/ab.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 100px; 
    top: 180px;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    margin-left: -115%;
    border: none;
    color: rgb(196, 11, 11);
    width: 12em;
    height: 6em;
    cursor: pointer;
}

.sair {
    position: fixed;
    background-image:url("../images/botão-voltar.png"); 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 105px; 
    top: 50px;
    margin-left: 70%;
    display: block;
    border-radius: 10px;
    border-color: red;
    border: 1px solid;
   
    cursor: pointer;
    width: 8em;
    height: 4em;
}

.input-croc{
    position: absolute;
    background-image:url("../images/Doubt.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 70px; 
    top: 220px;
    margin-left: -530px;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    width: 5em;
    height: 6em;
    cursor: pointer;
}


.botao-converter-croc{
    position: absolute;
    background-image:url("../images/AD.png");
    background-image: 70px;
    background-position: 20% 80%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 120px; 
    top: 180px;
    margin-left: 925px;
    display: none ;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    width: 7em;
    height: 5em;
    cursor: pointer;
}

.botao-converter-snake{
    position: absolute;
    background-image:url("../images/AD.png");
    background-image: 70px;
    background-position: 20% 80%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 120px; 
    top: 180px;
    margin-left: 925px;
    display: none ;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    width: 7em;
    height: 5em;
    cursor: pointer;
}

.botao-converter-golfin{
    position: absolute;
    background-image:url("../images/AD.png");
    background-image: 70px;
    background-position: 20% 80%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 120px; 
    top: 180px;
    margin-left: 925px;
    display: none ;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    width: 7em;
    height: 5em;
    cursor: pointer;
}

.botao-converter-panter{
    position: absolute;
    background-image:url("../images/AD.png");
    background-image: 70px;
    background-position: 20% 80%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 120px; 
    top: 180px;
    margin-left: 925px;
    display: none ;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    width: 7em;
    height: 5em;
    cursor: pointer;
}

.div-croc{
    position: absolute;
    top: 160px;
    margin-left: 630px;
    text-align: justify;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    background: rgb(17, 149, 182);
    color: rgb(245, 245, 245);
    width: 11em;
    height: auto;
}


.input-snake{
    position: absolute;
    background-image:url("../images/Doubt.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 70px; 
    top: 150px;
    margin-left: -530px;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    width: 5em;
    height: 6em;
    cursor: pointer;
}

.div-snake{
    position: absolute;
    top: 150px;
    margin-left: 530px;
    text-align: justify;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    background: rgb(17, 149, 182);
    color: rgb(245, 245, 245);
    width: 13em;
    height: auto;
}

.input-golfi{
    position: absolute;
    background-image:url("../images/Doubt.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 70px; 
    top: 150px;
    margin-left: -530px;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    width: 5em;
    height: 6em;
    cursor: pointer;
}

.div-golfi{
    position: absolute;
    top: 150px;
    margin-left: 530px;
    text-align: justify;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    background: rgb(17, 149, 182);
    color: rgb(245, 245, 245);
    width: 9.2em;
    height: auto;
}

.input-panter{
    position: absolute;
    cursor: pointer;
    background-image:url("../images/Doubt.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 70px; 
    top: 150px;
    margin-left: -530px;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    width: 5em;
    height: 6em;
}

.div-panter{
    position: absolute;
    top: 150px;
    margin-left: 530px;
    text-align: justify;
    display: none;
    padding: 0.45em;
    border-radius: 4px;
    border: none;
    background: rgb(17, 149, 182);
    color: rgb(245, 245, 245);
    width: 9.2em;
    height: auto;
}

/* Estilos para dispositivos de tela menor, como smartphones */
@media (min-width: 768px) {
    .botto {
        height: auto;
        flex-direction: column;
        padding: 1em;
    }

    .botao {
        position: absolute;
        top: 70px;
        margin-right: 5%;
        display: block;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(167, 7, 7);
        color: rgb(245, 245, 245);
        width: 11em;
        height: 2em;
    }

    .sair {
        display: block;
        top: 20px;
        width: 14%;
        height: 11%;
        margin-right: 10%;
        margin-bottom: 10px;
    }

    .input-croc {
        display: none;
        position: absolute;
        background-image:url("../images/Doubt.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 40px; 
        top: 250px;
        margin-left: -680px;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 3em;
        height: 4em;
    }

    
    .div-croc {
        display: none;
        position: absolute;
        top: 130px;
        margin-left: 420px;
        text-align: justify;     
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(17, 149, 182);
        color: rgb(245, 245, 245);
        width: 13em;
        height: auto;
    }

    .botao-converter-croc {
        position: absolute;
        background-image:url("../images/AD.png");
        background-image: 70px;
        background-position: 20% 80%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 60px; 
        top: 160px;
        margin-right: 210px;
        display: none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 2em;
    }


    #botao-golfi{
        display:  none;
        background-image:url("../images/Golfin.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 190px; 
        margin-left: -14%;
        margin-top: -16px;
        width: 10em !important; 
        height: 9em;
        border-radius: 9px;
    }
    .input-golfi {
        display: none;
        position: absolute;
        background-image:url("../images/Doubt.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 40px; 
        top: 250px;
        margin-left: -680px;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 3em;
        height: 4em;
    }

    
    .div-golfi {
        display: none;
        position: absolute;
        top: 130px;
        margin-left: 420px;
        text-align: justify;     
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(17, 149, 182);
        color: rgb(245, 245, 245);
        width: 13em;
        height: auto;
    }

    .botao-converter-golfin {
        position: absolute;
        background-image:url("../images/AD.png");
        background-image: 70px;
        background-position: 20% 80%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 60px; 
        top: 160px;
        margin-right: 210px;
        display: none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 2em;
    }

    #botao-snake{
        display:  none;
        background-image:url("../images/Golfin.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 190px; 
        margin-left: -14%;
        margin-top: -16px;
        width: 10em !important; 
        height: 9em;
        border-radius: 9px;
    }
    .input-snake {
        display: none;
        position: absolute;
        background-image:url("../images/Doubt.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 40px; 
        top: 250px;
        margin-left: -680px;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 3em;
        height: 4em;
    }

    
    .div-snake {
        display: none;
        position: absolute;
        top: 130px;
        margin-left: 420px;
        text-align: justify;     
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(17, 149, 182);
        color: rgb(245, 245, 245);
        width: 13em;
        height: auto;
    }

    .botao-converter-snake {
        position: absolute;
        background-image:url("../images/AD.png");
        background-image: 70px;
        background-position: 20% 80%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 60px; 
        top: 160px;
        margin-right: 210px;
        display: none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 2em;
    }

    #botao-panter{
        display: none;
        background-image:url("../images/panter.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 190px; 
        margin-left: 0px;
        margin-top: 1px;
        width: 10em !important; 
        height: 9em;
        border-radius: 9px;
    }
    .input-panter {
        display: none;
        position: absolute;
        background-image:url("../images/Doubt.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 40px; 
        top: 220px;
        margin-left: -650px;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 3em;
        height: 4em;
    }

    
    .div-panter {
        display: none;
        position: absolute;
        top: 130px;
        margin-left: 420px;
        text-align: justify;     
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(17, 149, 182);
        color: rgb(245, 245, 245);
        width: 13em;
        height: auto;
    }

    .botao-converter-panter {
        position: absolute;
        background-image:url("../images/AD.png");
        background-image: 70px;
        background-position: 20% 80%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 60px; 
        top: 160px;
        margin-right: 210px;
        display: none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 2em;
    }
}

/* Estilos para dispositivos de tela menor, em pé */
@media (max-width: 740px) {
    .botto {
        height: auto;
        flex-direction: column;
        padding: 1em;
    }

    .botao {
        position: absolute;
        top: 70px;
        margin-right: 5%;
        display: none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(167, 7, 7);
        color: rgb(245, 245, 245);
        width: 10em;
        height: 3em;
    }

    .doubt {
        display: none;
        width: 80%;
        margin-bottom: 10px;
    }

    .sair {
        display: block;
        top: 20px;
        width: 30%;
        height: 5%;
        margin-right: 10%;
        margin-bottom: 10px;
    }

    .input-croc {
        display: none;
        position: absolute;
        background-image:url("../images/Doubt.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 50px; 
        top: 630px;
        margin-left: -270px;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 4.5em;
    }

    .div-croc {
        display: none;
        position: absolute;
        top: 440px;
        margin-left: 180px;
        text-align: justify;     
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(17, 149, 182);
        color: rgb(245, 245, 245);
        width: 9em;
        height: auto;
    }

    .botao-converter-croc {
        position: absolute;
        background-image:url("../images/AD.png");
        background-image: 70px;
        background-position: 20% 80%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 70px; 
        top: 390px;
        margin-left: 170px;
        display: none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 3em;
    }

    
#botao-golfi{
    display:  none;
    background-image:url("../images/Golfin.jpg");
    background-image: 10px;
    background-position: 10% 40%; 
    background-repeat: no-repeat, repeat-x;
    background-position:  center;
    background-size: 190px; 
    margin-left: 114%;
    margin-top: 5%;
    width: 14em !important; 
    height: 9.5em;
    border-radius: 9px;
}


    .input-golfi {
        display:  none;
        position: absolute;
        background-image:url("../images/Doubt.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 40px; 
        top: 250px;
        margin-left: 180px;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 3em;
        height: 4em;
    }

    
    .div-golfi {
        display:  none;
        position: absolute;
        top: 630px;
        margin-left: 520px;
        text-align: justify;     
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(17, 149, 182);
        color: rgb(245, 245, 245);
        width: 13em;
        height: auto;
    }

    .botao-converter-golfin {
        position: absolute;
        background-image:url("../images/AD.png");
        background-image: 70px;
        background-position: 20% 80%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 60px; 
        top: 670px;
        margin-right: 115px;
        display: none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 2em;
    }

    #botao-cobra{
        display: none;
        background-image:url("../images/Snake.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 190px; 
        margin-left: 20px;
        margin-top: 8px;
        width: 10em !important; 
        height: 11em;
        border-radius: 9px;
    }
    .input-snake {
        display: none;
        position: absolute;
        background-image:url("../images/Doubt.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 40px; 
        top: 270px;
        margin-left: -270px;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 3em;
        height: 4em;
    }

    
    .div-snake {
        display: none;
        position: absolute;
        top: 690px;
        margin-left: 0px;
        text-align: justify;     
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(17, 149, 182);
        color: rgb(245, 245, 245);
        width: 13em;
        height: auto;
    }

    .botao-converter-snake {
        position: absolute;
        background-image:url("../images/AD.png");
        background-image: 70px;
        background-position: 20% 80%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 60px; 
        top: 723px;
        margin-left: 290px;
        display:none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 2em;
    }

    #botao-panter{
        display: none;
        background-image:url("../images/panter.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 190px; 
        margin-left: 260px;
        margin-top: 10px;
        width: 10em !important; 
        height: 9em;
        border-radius: 9px;
    }
    .input-panter {
        display: none;
        position: absolute;
        background-image:url("../images/Doubt.jpg");
        background-image: 10px;
        background-position: 10% 40%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 40px; 
        top: 270px;
        margin-left: -20px;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 3em;
        height: 4em;
    }

    
    .div-panter {
        display: none;
        position: absolute;
        top: 690px;
        margin-left: 250px;
        text-align: justify;     
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        background: rgb(17, 149, 182);
        color: rgb(245, 245, 245);
        width: 13em;
        height: auto;
    }

    .botao-converter-panter {
        position: absolute;
        background-image:url("../images/AD.png");
        background-image: 70px;
        background-position: 20% 80%; 
        background-repeat: no-repeat, repeat-x;
        background-position:  center;
        background-size: 60px; 
        top: 723px;
        margin-left: 550px;
        display: none;
        padding: 0.45em;
        border-radius: 4px;
        border: none;
        width: 4em;
        height: 2em;
    }
}

